.Background{
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.Header{
  margin: 35px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  color: var(--black);
  background-color: white;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.Title{
  width: 50vw;
  align-items: right;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-top: -5px;
  background-color: white;

}

.APTGroup{
  margin: 30px;
  background-color: white;
}

.Large{
  font-size: 24px;
  font-weight: 700;
}

.Medium{
  font-size: 20px;
  font-weight: 700;
}

.Small{
  font-size: 16px;
  font-weight: 400;
}

.APT{
  border-width:2px;
  height:40px;
  margin-bottom:10px;
}
.APT:hover{
  background-color:whitesmoke;
}

.BlueTab{
  display: flex;
  width: 30px;
  margin: -20px;
}

.Circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px;
}

.EndTab{
  display: flex;
  width: 160px;
  height: 40px;
  margin-right: -20px;
  justify-content: center;
  align-items: center;
}