.aptMain {
  color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.problemStatement {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: black;
}

.contentBox {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 12px;
  border: 3px solid #9fc1dc;
  padding: 20px;
  overflow-wrap: normal;
  white-space: pre-line;
}

.problemDescription {
  border-radius: 12px;
  border: 3px solid #9fc1dc;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.problemHeader {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  background-color: #9fc1dc;
}

.solutionArea {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submissionBox {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding-bottom: 10px;
}
