.aptMain {
  color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.problemStatement {
  /* height: 100%; */
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--black);
  overflow: scroll;
  height: 100vh;
}

.contentBox {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 12px;
  border: 3px solid var(--blue);
  padding: 20px;
  overflow-wrap: normal;
  white-space: pre-line;
}

.problemDescription {
  border-radius: 12px;
  border: 3px solid var(--blue);
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.problemHeader {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  font-size: 40px;
}

.submissionResult {
  padding: 25px;
  margin-top: 10px;
}

.resultTest {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.problemTitle {
  font-size: 40px;
  font-weight: 700;
  flex: 1;
  text-align: center;
  margin-right: 40px;
}

.backArrow {
  text-decoration: none;
  color: var(--black);
}

.backArrow:hover {
  color: #505050;
}

.solutionArea {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow: scroll;
  height: 100vh;
}

.submitButton {
  background-color: #2d5b7b;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 10px;
}

.playButton {
  background-color: #2d5b7b;
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.submitButton:hover {
  background-color: #387199;
}

.playButton:hover {
  background-color: #387199;
}

.submissionBox {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding-bottom: 10px;
}

.resultsMain {
  color: var(--black);
  border-radius: 12px;
  border: 3px solid var(--blue);
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}
