@layer base {
  body {
    background-color: white;
    margin: 0px;
  }
}

li:nth-child(even) {
  background: rgb(241 245 249);
}

li {
  padding-left: 10px;
}

h1 {
  font-size: var(--font-size-lg) !important;
}

h2 {
  font-size: var(--font-size-md) !important;
}

h3 {
  font-size: var(--font-size-sm) !important;
}